disnake
disnake[voice]
python-ffmpeg
python-dotenv
user_agent
requests>=2.31.0
humanize
motor[srv]
tinymongo
dnspython>=2.6.1
psutil
aiofiles
disnake-jishaku
packaging
tornado==6.4.2
emoji
spotipy
urllib3>=2.1.0
validators
colorama
asgiref==3.6.0
aiosqlite
unidecode
gTTS
yt-dlp
