disnake
disnake[voice]
python-ffmpeg
python-dotenv
user_agent
requests>=2.31.0
humanize
motor[srv]
tinymongo
dnspython>=2.6.1
psutil
aiofiles
disnake-jishaku
packaging
aiosqlite
yt-dlp>=2023.12.30
tornado
emoji
spotipy
urllib3>=2.1.0
validators
colorama
openai==0.28.1
asgiref==3.6.0
aiosqlite
unidecode
pymongo
pytz
google-generativeai
gTTS
rsnchat
nekos.py