disnake
disnake[voice]
python-ffmpeg
python-dotenv
user_agent
requests
humanize
motor[srv]
tinymongo
dnspython>=2.6.1
psutil
aiofiles
disnake-jishaku
packaging
tornado
emoji
spotipy
urllib3>=2.1.0
validators
colorama
asgiref
aiosqlite
unidecode
gTTS
yt-dlp
nodriver
pymongo
aiohttp
pytz
typing_extensions
yarl
orjson
websocket-client
soundcloud-v2
pytube
RapidFuzz